<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorten url</title>
    <style>
        html, body {
            font-family: sans-serif;
            padding: 0;
            border: 0;
            margin: 0;
            background: seashell;
        }

        body {
            display: flex !important;
        }

        body, form {
            display: inline;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }

        .input-text {
            color: #36383b;
            background: #fff;
            border: 1px solid #d3d4d7;
            border-radius: 8px 8px 8px 8px;
            padding: 0 20px;
            height: 45px;
            min-width: 50vw;
        }

        .button {
            background: lightcoral;
            color: white;
            padding: 15px;
            border-radius: 8px;
            border: 1px solid transparent;
            position: absolute;
        }
    </style>
</head>
<body>

<h1> </h1>
<form method="post" action="short/new">
    <input class="input-text" type="url" name="url" placeholder="Shorten your link" required autofocus>
    <input class="button" type="submit" value="Shortnen">
</form>

</body>
</html>
